<div class="wh-1">
         <h3>LogIn</h3>
         <div>
        <form>
            <label for="name">Name</label>
            <input type="text" placeholder="name" name="name" id="name"required [(ngModel)]="name">
            <label for="email">Email</label>
            <input type="text" placeholder="email" name="email" id="email" required [(ngModel)]="email">
            <label for="password">password</label>
            <input type="password" placeholder="password" name="password"  id="password"required [(ngModel)]="password">
            <button type="button" (click)="logIn()">logIn</button>
        </form>
    </div>
    
    </div>
