input {
    display: flex;
    padding: 7px;
    border-radius: 7px;
}


button {
    padding: 7px;
    border-radius: 7px;
    border: none;
    background-color: rgb(14, 212, 73);
    margin-top: 10px;
    margin-left: 50px;
}
h3{
    text-align: start;
}